body {
    background-color: #223;    
    color: #EEF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 800px;
}

li {
    margin-bottom: 10px;
}

a, a:link {
    color: #69F;

}
a:hover {
    text-shadow: 0 7px 5px rgba(0,0,0,0.8);
}